{% extends "maestra.html" %}
{% block titulo %}500 - Error interno del servidor{% endblock %}
{% block contenido %}
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-1">Error 500</h1>
        <p class="subtitle is-3">Error interno del servidor</p>
        <p class="is-size-5">Ha ocurrido un error inesperado en nuestros sistemas.</p>
        <p class="is-size-5">Nuestro equipo técnico ha sido notificado. Por favor, intenta de nuevo más tarde.</p>
        <!--  -->
        <a href="{{ url_for('juegos') }}" class="button is-primary is-large mt-5">Volver al inicio</a>
    </div>
</section>
{% endblock %}